# Virtual environment
.venv/
venv/
env/

# IDE (PyCharm)
.idea/
*.iml

# Database
*.db
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
